

body{
    background-color: #3C006B;
    font-family: 'Poppins', sans-serif;
}


.container-fluid{
    padding: 3vw 4vw;
}

.navbar-nav{
    padding-left: 25vw;
}
.div1{
    width: 100%;
    height: 50%;
    background-image: url("/images/zeptobg.png");

}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 50, 105, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") ;
   
}
.main{
    padding: 3vw 5vw;
    display: flex;
    justify-content: space-evenly;
}
.main img{
 width: 40%;
}
.main2 h1{
    color: white;
    font-size: 6vw;
    font-weight: bolder;
}
.main2logo{
    width: 50vw;
}
.marque{
    padding:4vw;
    background-color:#1e0136 ;
    width:100%;
    height:40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.marque p{
    font-size: 24px;
    color: #DEC2EB;
    padding: 0px 0px 40px;
    font-weight: bold;
}
.marque1{
    color: white;
    font-size: 42px;
    font-weight: bold;
}
.D{
    padding-right: 200px;
}
.marque h5{
    color:#DEC2EB;
    font-size: 18px;
    padding: 40px 0px 0px;
}
.card-body h5{
    font-weight: bold;
    font-size: 36px;
    color: white;
}
.card-body p{
    font-size: 24px;
    color: white;
}
.card{
    background-color: #3C006B;
    align-items: center;
}
.container p{
    font-size: 24px;
    color: #DEC2EB;
    padding-top: 60px;
    font-weight: bold;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3C006B;
}
.card img{
    width: 50%;
    padding-top: 40px;   
}
.card-title{
    text-align: center;
}
.card-text{
    text-align: center;
}
.new{
    border-radius: 20px;
    padding: 20px;
}
.container-footer{
    background-color: #2A0249;
    margin-top: -5px;
    
}
li{
    list-style: none;
}
a{
    color: #fff;
    text-decoration: none;
}
ul{
    line-height: 50px;
}
a:hover{
    color: #735289;
}
.row{
    width: 100%;
}